{% extends "base.html" %}

{% block content %}

<!--=============================================
=            Login Register page content         =
=============================================-->
<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
                <!-- Login Form s-->
                <form class="register-form" action="" method="post" novalidate>
                    {{ register_form.hidden_tag() }}
                    <div class="login-form">
                        <h4 class="login-title">Регистрация</h4>
                        <p><span class="font-weight-bold">Я новый пользователь</span></p>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label>{{ register_form.surname_and_name.label }}</label>
                                {{ register_form.surname_and_name(class="mb-0 form-control", for="register-form",
                                placeholder="Введите вашу фамилию и имя") }}
                            </div>
                            <div class="col-12 mb--20">
                                <label>{{ register_form.reg_email.label }}</label>
                                {{ register_form.reg_email(class="mb-0 form-control", for="register-form",
                                placeholder="Введите ваш email") }}
                            </div>
                            <div class="col-lg-6 mb--20">
                                <label>{{ register_form.reg_password.label }}</label>
                                {{ register_form.reg_password(class="mb-0 form-control", for="register-form",
                                placeholder="Введите ваш пароль") }}
                            </div>
                            <div class="col-lg-6 mb--20">
                                <label>{{ register_form.repeat_password.label }}</label>
                                {{ register_form.repeat_password(class="mb-0 form-control", for="register-form",
                                placeholder="Повторите пароль") }}
                            </div>
                            <div class="col-md-12">
                                <!--Действие onclick нужно, чтобы выводились только ошибки формы register-->
                                {{ register_form.reg_submit(type="submit", onclick="{{ form='register' }}",
                                for="register-form", class="btn btn-outlined register-btn") }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form class="login-form" action="" method="post" novalidate>
                    {{ login_form.hidden_tag() }}
                    <div class="login-form">
                        <h4 class="login-title">Вход</h4>
                        <p><span class="font-weight-bold">У меня уже есть аккаунт</span></p>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label>{{ login_form.email.label }}</label>
                                {{ login_form.email(class="mb-0 form-control", for="login-form",
                                placeholder="Введите ваш email") }}
                            </div>
                            <div class="col-12 mb--20">
                                <label>{{ login_form.password.label }}</label>
                                {{ login_form.password(class="mb-0 form-control", for="login-form",
                                placeholder="Введите пароль") }}
                            </div>
                            <div class="col-md-12">
                                <!--Действие onclick нужно, чтобы выводились только ошибки формы login-->
                                {{ login_form.submit(type="submit", onclick="{{ form='login' }}", for="login-form",
                                class="btn btn-outlined login-btn") }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if form != "login" %}
        <!--Вывод ошибок формы register-->
        {% for error in register_form.surname_and_name.errors %}
        <div class="alert alert-success" role="alert">
            (Регистрация) Фамилия и имя: {{ error }}
        </div>
        {% endfor %}
        {% for error in register_form.reg_email.errors %}
        <div class="alert alert-success" role="alert">
            (Регистрация) Почта: {{ error }}
        </div>
        {% endfor %}
        {% for error in register_form.reg_password.errors %}
        <div class="alert alert-success" role="alert">
            (Регистрация) Пароль: {{ error }}
        </div>
        {% endfor %}
        {% for error in register_form.repeat_password.errors %}
        <div class="alert alert-success" role="alert">
            (Регистрация) Пароль еще раз: {{ error }}
        </div>
        {% endfor %}
        {% endif %}
        {% if form == "login" %}
        <!--Вывод ошибок формы login-->
        {% for error in login_form.email.errors %}
        <div class="alert alert-success" role="alert">
            (Вход) Почта: {{ error }}
        </div>
        {% endfor %}
        {% for error in login_form.password.errors %}
        <div class="alert alert-success" role="alert">
            (Вход) Пароль: {{ error }}
        </div>
        {% endfor %}
        {% endif %}
        {% if message %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endif %}
    </div>
</main>

<script src="js/plugins.js"></script>
<script src="js/ajax-mail.js"></script>
<script src="js/custom.js"></script>
{% endblock %}