{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="../static/css/upload_file.css"/>

<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Home</a></li>
                    <li class="breadcrumb-item active">Профиль</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!--=============================================
=            Login Register page content         =
=============================================-->
<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
                <!-- Login Form s-->
                <form class="edit-profile-form" action="" method="post" novalidate enctype="multipart/form-data">
                    {{ edit_profile_form.hidden_tag() }}
                    <div class="login-form" style="margin-left: 50%; margin-right: -50%">
                        <h2>
                            <p style="font-style:inherit">Статистика чтения<br></p>
                        </h2>
                        <font size="3" face="Arial">
							<p style="font-style:inherit"><a href="/get_my_marks/1">Забронированных книг: {{ status.booked_books }}</a><br></p>
							<p style="font-style:inherit"><a href="/get_my_marks/2">В процессе чтения: {{ status.read_now_books }}</a><br></p>
							<p style="font-style:inherit"><a href="/get_my_marks/3">Прочитать позже: {{ status.read_later_books }}</a><br></p>
							<p style="font-style:inherit"><a href="/get_my_marks/4">Прочитано книг: {{ status.read_past_books }}</a><br></p>
							<p style="font-style:inherit"><a href="/get_my_marks/5">Брошенных книг: {{ status.dropped_books }}</a><br></p>
                        </font>
                    </div>
                    <div class="login-form" style="margin-left: 50%; margin-right: -50%; width=120%">
                        <div class="row">
<!--                            загрузка аватарки-->
                            <div class="col-md-12 col-12 mb--15" id="upload-container">
                                <img id="upload-image" src="../static/img/button_upload_file.bmp" width=120 height=120>
                                <label for="file-input">Выберите файл</label>
                                <span>для аватарки</span>
                                {{ edit_profile_form.photo(class="mb-0 form-control file-input", id="file-input",
                                type="file", accept="image/*") }}
                            </div>
                            <div class="col-md-12 col-12 mb--15">
                                <label>{{ edit_profile_form.surname.label }}</label>
                                {{ edit_profile_form.surname(class="mb-0 form-control", placeholder="Введите вашу фамилию") }}
                            </div>
                            <div class="col-md-12 col-12 mb--15">
                                <label>{{ edit_profile_form.name.label }}</label>
                                {{ edit_profile_form.name(class="mb-0 form-control", placeholder="Введите ваше имя") }}
                            </div>
                            <div class="col-12 mb--20">
                                <label>{{ edit_profile_form.reg_email.label }}</label>
                                {{ edit_profile_form.reg_email(class="mb-0 form-control", placeholder="Введите ваш email") }}
                            </div>
                            <div class="col-md-12 col-12 mb--15">
                                <label>{{ edit_profile_form.phone.label }}</label>
                                {{ edit_profile_form.phone(class="mb-0 form-control", placeholder="Введите ваш номер телефона") }}
                            </div>
                            <p><span class="font-weight-bold" style="margin-left: 15px; margin-right: 150px">Редактировать пароль</span>
                            </p>
                            <div class="col-lg-6 mb--20">
                                <label>{{ edit_profile_form.old_password.label }}</label>
                                {{ edit_profile_form.old_password(class="mb-0 form-control", placeholder="Введите ваш пароль") }}
                            </div>
                            <div class="col-lg-6 mb--20">
                                <label>{{ edit_profile_form.new_password.label }}</label>
                                {{ edit_profile_form.new_password(class="mb-0 form-control", placeholder="Придумайте новый пароль") }}
                            </div>
                            <div class="col-md-12 col-12 mb--15"
                                 style="border-width:1; border-color: #8FC14B; border-style: solid; border-radius: 7%">
                                <p><span class="font-weight-bold" style="margin-left: 20px; margin-right: 150px">Блок администратора</span>
                                </p>
                                {% if not is_admin %}
                                <label>{{ edit_profile_form.admin_password.label }}</label>
                                {{ edit_profile_form.admin_password(class="mb-0 form-control", placeholder="Введите пароль администратора") }}
                                {% else %}
                                <label style="margin-left: 30px">Вы уже администратор</label>
                                {% endif %}
                                <br>
                            </div>
                            <br>
                            <div class="col-md-12 mb--20">
                                {{ edit_profile_form.reg_submit(type="submit", for="edit-profile-form", class="btn
                                btn-outlined edit-profile-btn") }}
                            </div>
                            <div class="col-md-12">
                                <a href="/logout" class="btn btn-outlined">Выйти</a>
                            </div>
                        </div>
                        <br>
                        <!-- информация об ошибках -->
                        {% for error in edit_profile_form.surname.errors %}
                        <div class="alert alert-success" role="alert">
                            Фамилия: {{ error }}
                        </div>
                        {% endfor %}
                        {% for error in edit_profile_form.name.errors %}
                        <div class="alert alert-success" role="alert">
                            Имя: {{ error }}
                        </div>
                        {% endfor %}
                        {% for error in edit_profile_form.reg_email.errors %}
                        <div class="alert alert-success" role="alert">
                            Почта: {{ error }}
                        </div>
                        {% endfor %}
                        {% for error in edit_profile_form.phone.errors %}
                        <div class="alert alert-success" role="alert">
                            Номер телефона: {{ error }}
                        </div>
                        {% endfor %}
                        {% for error in edit_profile_form.old_password.errors %}
                        <div class="alert alert-success" role="alert">
                            Старый пароль: {{ error }}
                        </div>
                        {% endfor %}
                        {% for error in edit_profile_form.new_password.errors %}
                        <div class="alert alert-success" role="alert">
                            Новый пароль: {{ error }}
                        </div>
                        {% endfor %}
                        {% if message %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="js/plugins.js"></script>
<script src="js/ajax-mail.js"></script>
<script src="js/custom.js"></script>
<script src="../static/js/load_file.js"></script>
{% endblock %}